
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
sup {
    color: #606060;
    margin: -9px 0 0 5px;
    font: 10px Roboto, Arial, sans-serif;
} 

header {
    padding: 18px 14px 18px 16px;
}
.menu-direita {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   gap: 50px;
}

li {
    list-style: none;
}

.wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "header header"
                         "menu-lateral videos";
    grid-template-rows: 50px 1fr  ;
    grid-template-columns: 125px  1fr  ;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

.header > div {
    align-items: center;
    margin: 15px;
}

.menu-lateral {
    grid-area: menu-lateral;
}

.videos {
    grid-area: videos;
}


.menu > div {
    color: #030303;
    font: 14px Roboto, Noto, sans-serif;
    padding: 15px 24px;
    width: 20px 5px;
}
